.vscode
.idea
test
node_modules
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/BrowserLauncher.js.html
coverage/lcov-report/cli.js.html
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/jest.config.js.html
coverage/lcov-report/lighthouse.conf.js.html
coverage/lcov-report/LighthouseLauncher.js.html
coverage/lcov-report/Pagespeeder.js.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
